@model List<KommunSkatter.Models.Kommun>
@{
    ViewData["Title"] = "Taxes Page";
    String year = (String)@Url.ActionContext.RouteData.Values["id"];
}

<div class="text-center">
    <h1 class="display-4">KommunSkatter</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Kommun</th>
                <th>Församling</th>
                <th>Kommunalskatt</th>
                <th>Landstingsskatt</th>
                <th>TotalSkatt</th>
                <th>År</th>
            </tr>
            </thead>
        <tbody>
        @foreach(var data in Model)
        {
                    @if (data.år == year)
                    {
                        <tr>
                            <td>@data.kommun</td>
                            <td>@data.församling</td>
                            <td>@data.kommunalskatt</td>
                            <td>@data.landstingsskatt</td>
                            <td>@data.summaexklkyrkoavgift</td>
                            <td>@data.år</td>
                        </tr>
                    }
        }
        </tbody>
        </table>
    
</div>